
.header {
    background-color: #162D67;
    position: relative;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #D7AC58;
}

.header__logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);;
}

.header__map {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(0, -50%);
}

.header__search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__login {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.logo {
    height: 50px;
}

@media (max-width: 800px) {
    .header {
        display: none;
    }
}