
.button {
    all: unset;
    background-color: #162D67;
    color: #D7AC58;
    border-radius: 10px;
    border: 1px solid #FFF;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    font-family: "Excentra Pro Light", sans-serif;
    cursor: pointer;
}

.button_theme_big {
    font-family: "Balkara Free Condensed - npoekmu.me", sans-serif;
}

.button_border_none {
    border: none;
}

.button_theme_gold {
    color: #FFFFFF;
    background-color: #D7AC58E5;
    box-shadow: 0 0 4px 2px #D7AC58;

}

.button_theme_white {
    color: #FFFFFF;
}
